$black-color: #111;
$second-color: #8d8d8d;
$white-color: #fff;

$bg-light: #eee;
$bg-dark: #151718;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow2: rgba(149, 157, 165, 0.3)  0px 8px 24px;

$height-header: 80px;

$colors: (
    "red":  #EA2027,
    "yellow": #FFC312,
    "orange": #fe7e73,
    "blue": #e84118,
);

$numbers: (0 ,1, 2, 3, 4, 5, 6, 7, 8);